<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav>
    <ul class="topnav">
        
        <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
        <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
        <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
        <li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>
        <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
        <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li>
  
        
        
    </ul>
  </nav>

<nav>
    <ul class="topnav">

        <li>
            <h2> Welcome to your previous booking  </h2>
        </li>

        

    </ul>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Bus ID</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Return Departure Time</th>
            <th scope="col">Return Departure Date</th>
            <th scope="col">Return Arrival Time</th>
            <th scope="col">Return Arrival Date</th>
            <th scope="col">Type of Ticket</th>
            <th scope="col">Number of seats</th>
            <th scope="col">Seat ID</th>
            <th scope="col">Driver ID</th>
            <th scope="col">Trip Status</th>

            
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

