<nav>
  <ul class="topnav">

    <li><b> <a href="#Profile" [routerLink]="['/profile']"> Profile </a> </b></li>
    <li><b> <a href="#BookTicket" [routerLink]="['/mybooktickets']"> Book Ticket </a> </b></li>
    <li><b> <a href="#Booking" [routerLink]="['/mybookings']"> My Bookings </a> </b></li>
    <li><b> <a href="#ChangePassword" [routerLink]="['/changepassword']"> Change Password </a> </b></li>
    <li><b> <a href="#BookCoach" [routerLink]="['/bookcoach']"> Book Coach </a> </b></li>
    <li><b> <a href="#Wallet" [routerLink]="['/wallet']"> Wallet </a> </b></li>
  </ul>
</nav>


<body>
  <div class="container">
    <div class="title">Pick Your Ride</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">From</span>
            <select name="Source" [(ngModel)]="RouteObject.Source" placeholder="Source">
              <option value="d">-Departure-</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Chennai">Chennai</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Bengaluru">Bengaluru</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">To</span>
            <select name="Destination" [(ngModel)]="RouteObject.Destination" placeholder="Destination">
              <option value="a">-Arrival-</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Chennai">Chennai</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Bengaluru">Bengaluru</option>
            </select>
          </div>
        </div>
        <div class="journey-type">
          <input type="radio" name="tickettype" value="SingleTrip" [(ngModel)]="tickettype" id="dot-1">
          <input type="radio" name="tickettype" value="RoundTrip" [(ngModel)]="tickettype" id="dot-2">
          <span class="journeytype-title">Journey Type</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Single Trip</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Round Trip</span>
            </label>
          </div>
        </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Journey Date</span>
            <input type="date" name="DepartureDate" placeholder="Enter your email" [(ngModel)]="DepartureDate" required>
          </div>
          <div class="input-box">
            <span class="details">Return Date</span>
            <input type="date" placeholder="Enter your number" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Search Buses" (click)="GetMyBuses()">
          <p>{{ReturnRoute.InvestmentPerTrip}}</p>
        </div>
      </form>
    </div>
  </div>

</body>