<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Bus List</span>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Bus Name</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Seats Available</th>
            <th scope="col">Ticket price</th>


            <th scope="col">ActionBook</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of Buses">
            <td> Bus {{b.BusId}}</td>
            <td>{{b.DepartureDate}}</td>
            <td>{{b.DepartureTime}}</td>
            <td>{{b.ArrivalDate}}</td>
            <td>{{b.ArrivalTime}}</td>
            <td>{{b.TotalSeats - b.FilledSeats}}</td>
            <td>{{TicketPrice}}</td>
            <td>
                <button type="button"  class="btn btn-link" (click)="BookClick()">
                  Book
                </button>
              </td>
        </tr>
    </tbody>
</table>
