<div class="bus">

    <div class="exit exit--front fuselage">
      
    </div>
    <ol class="cabin fuselage">
      <li class="row row--1">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S01" />
            <label for="S01">S01</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S02" />
            <label for="S02">S02</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S03" />
            <label for="S03">S03</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S04" />
            <label for="S04">S04</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S05" />
            <label for="S05">S05</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S06" />
            <label for="S06">S06</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S07" />
            <label for="S07">S07</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S08" />
            <label for="S08">S08</label>
          </li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S09" />
            <label for="S09">S09</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S10" />
            <label for="S10">S10</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S11" />
            <label for="S11">S11</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S12" />
            <label for="S12">S12</label>
          </li>
        </ol>
      </li>
      <li class="row row--4">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S13" />
            <label for="S13">S13</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S14" />
            <label for="S14">S14</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S15" />
            <label for="S15">S15</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S16" />
            <label for="S16">S16</label>
          </li>
        </ol>
      </li>
      <li class="row row--5">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S17" />
            <label for="S17">S17</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S18" />
            <label for="S18">S18</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S19" />
            <label for="S19">S19</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S20" />
            <label for="S20">S20</label>
          </li>
        </ol>
      </li>
      <li class="row row--6">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S21" />
            <label for="S21">S21</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S22" />
            <label for="S22">S22</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S23" />
            <label for="S23">S23</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S24" />
            <label for="S24">S24</label>
          </li>
        </ol>
      </li>
      <li class="row row--7">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S25" />
            <label for="S25">S25</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S26" />
            <label for="S26">S26</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S27" />
            <label for="S27">S27</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S28" />
            <label for="S28">S28</label>
          </li>
        </ol>
      </li>
      <li class="row row--8">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S29" />
            <label for="S29">S29</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S30" />
            <label for="S30">S30</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S31" />
            <label for="S31">S31</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S32" />
            <label for="S32">S32</label>
          </li>
        </ol>
      </li>
      <li class="row row--9">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S33" />
            <label for="S33">S33</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S34" />
            <label for="S34">S34</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S35" />
            <label for="S35">S35</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S36" />
            <label for="S36">S36</label>
          </li>
        </ol>
      </li>
      <li class="row row--10">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="S37" />
            <label for="S37">S37</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S38" />
            <label for="S38">S38</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S39" />
            <label for="S39">S39</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="S40" />
            <label for="S40">S40</label>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="button">
    <button class="button">Book Seats</button>
   </div>