<div class="bus">

  <div class="exit exit--front fuselage">
    
  </div>
  <ol class="cabin fuselage" > 
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat1()" [disabled]="Status1 == 'enabled'" name="Seat1" id="Seat1" />
          <label for="Seat1">S01</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat2()" [disabled]="Status2 == 'enabled'" name="Seat2" id="Seat2" />
          <label for="Seat2">S02</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat3()" [disabled]="Status3 == 'enabled'" name="Seat3" id="Seat3" />
          <label for="S03">S03</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat4()" [disabled]="Status4 == 'enabled'" name="Seat4" id="Seat4" />
          <label for="Seat4">S04</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat5()" [disabled]="Status5 == 'enabled'" name="Seat5" id="Seat5" />
          <label for="Seat5">S05</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat6()" [disabled]="Status6 == 'enabled'" name="Seat6" id="Seat6" />
          <label for="Seat6">S06</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat7()" [disabled]="Status7 == 'enabled'" name="Seat7" id="Seat7" />
          <label for="Seat5">S07</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat8()" [disabled]="Status8 == 'enabled'" name="Seat8" id="Seat8" />
          <label for="Seat8">S08</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat9()" [disabled]="Status9 == 'enabled'" name="Seat9" id="Seat9" />
          <label for="Seat9">S09</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat10()" [disabled]="Status10 == 'enabled'" name="Seat10" id="Seat10" />
          <label for="Seat10">S10</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat11()" [disabled]="Status11 == 'enabled'" name="Seat11" id="Seat11" />
          <label for="Seat11">S11</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat12()" [disabled]="Status12 == 'enabled'" name="Seat12" id="Seat12" />
          <label for="Seat12">S12</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat13()" [disabled]="Status13 == 'enabled'" name="Seat13" id="Seat13" />
          <label for="Seat13">S13</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat14()" [disabled]="Status14 == 'enabled'" name="Seat14" id="Seat14" />
          <label for="Seat14">S14</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat15()" [disabled]="Status15 == 'enabled'" name="Seat15" id="Seat15" />
          <label for="Seat15">S15</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat16()" [disabled]="Status16 == 'enabled'" name="Seat16" id="Seat16" />
          <label for="Seat16">S16</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat17()" [disabled]="Status17 == 'enabled'" name="Seat17" id="Seat17" />
          <label for="Seat17">S17</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat18()" [disabled]="Status18 == 'enabled'" name="Seat18" id="Seat18" />
          <label for="Seat18">S18</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat19()" [disabled]="Status19 == 'enabled'" name="Seat19" id="Seat19" />
          <label for="Seat19">S19</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat20()" [disabled]="Status20 == 'enabled'" name="Seat20" id="Seat20" />
          <label for="Seat20">S20</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat21()" [disabled]="Status21 == 'enabled'" name="Seat21" id="Seat21" />
          <label for="Seat21">S21</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat22()" [disabled]="Status22 == 'enabled'" name="Seat22" id="Seat22" />
          <label for="Seat22">S22</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat23()" [disabled]="Status23 == 'enabled'" name="Seat23" id="Seat23" />
          <label for="Seat23">S23</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat24()" [disabled]="Status24 == 'enabled'" name="Seat24" id="Seat24" />
          <label for="Seat24">S24</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat25()" [disabled]="Status25 == 'enabled'" name="Seat25" id="Seat25" />
          <label for="Seat25">S25</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat26()" [disabled]="Status26 == 'enabled'" name="Seat26" id="Seat26" />
          <label for="Seat26">S26</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat27()" [disabled]="Status27 == 'enabled'" name="Seat27" id="Seat27" />
          <label for="Seat27">S27</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat28()" [disabled]="Status28 == 'enabled'" name="Seat28" id="Seat28" />
          <label for="Seat28">S28</label>
        </li>
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat29()" [disabled]="Status29 == 'enabled'" name="Seat29" id="Seat29" />
          <label for="Seat29">S29</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat30()" [disabled]="Status30 == 'enabled'" name="Seat30" id="Seat30" />
          <label for="Seat30">S30</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat31()" [disabled]="Status31 == 'enabled'" name="Seat31" id="Seat31" />
          <label for="Seat31">S31</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat32()" [disabled]="Status32 == 'enabled'" name="Seat32" id="Seat32" />
          <label for="Seat32">S32</label>
        </li>
      </ol>
    </li>
    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat33()" [disabled]="Status33 == 'enabled'" name="Seat33" id="Seat33" />
          <label for="Seat33">S33</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat34()" [disabled]="Status34 == 'enabled'" name="Seat34" id="Seat34" />
          <label for="Seat34">S34</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat35()" [disabled]="Status35 == 'enabled'" name="Seat35" id="Seat35" />
          <label for="Seat35">S35</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat36()" [disabled]="Status36 == 'enabled'" name="Seat36" id="Seat36" />
          <label for="Seat36">S36</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat37()" [disabled]="Status37 == 'enabled'" name="Seat37" id="Seat37" />
          <label for="Seat37">S37</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat38()" [disabled]="Status38 == 'enabled'" name="Seat38" id="Seat38" />
          <label for="Seat38">S38</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat39()" [disabled]="Status39 == 'enabled'" name="Seat39" id="Seat39" />
          <label for="Seat39">S39</label>
        </li>
        <li class="seat">
          <input type="checkbox" (change)="CheckSeat40()" [disabled]="Status40 == 'enabled'" name="Seat40" id="Seat40" />
          <label for="Seat40">S40</label>
        </li>
      </ol>
    </li>
  </ol>
</div>

<div class="button">
  <button class="button" (click)="BookSeats()" *ngIf="bus.RouteId!=0">Book Seats</button> 
 </div>