
<nav>
    <ul class="topnav">

        <li>
            <h2> Hello Admin! </h2>
        </li>

        <li class="topnav-right"> <a href="#adminlogout">Logout</a> </li>

    </ul>
</nav>
<nav>
    <ul class="topnav">


        <li><b> <a href="#buslist" [routerLink]="['/buslist']"> Bus List </a> </b></li>
        <li><b> <a href="#routeslist" [routerLink]="['/routeslist']"> Routes List </a> </b></li>
        <li><b> <a href="#recordsandprofits" [routerLink]="['/recordsandprofits']"> Records & Profits </a> </b></li>



    </ul>
</nav>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Records & Profits</span>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Travels</th>
            <th scope="col">TravelID</th>

            <th scope="col">RouteID</th>
            <th scope="col">TravelDate</th>
            <th scope="col">TravelTime</th>
            <th scope="col">TotalBookedSeats</th>
            <th scope="col">Profit</th>
            <th scope="col">Update</th>
    </thead>
    <tbody>

    </tbody>
</table>
