<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Login Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <form action="#" #forgotpasswordform="ngForm" >
            <div class="title">Fogot Password?..</div>
            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="EmailId" id="EmailId" #EmailId="ngModel" minlength="5" [(ngModel)]="Email" placeholder="Enter Your Email" required>
                    <div class="underline"></div>
                </div>
                <div class="form-control-feedback"
              *ngIf="EmailId.errors && (EmailId.dirty || EmailId.touched)">
              <p *ngIf="EmailId.errors.required" style="color: indigo;" >Email is required</p>
              <p *ngIf="EmailId.errors.minlength" style="color: indigo;">Email must be atleast 5 characters long</p> 
              </div>
                <div class="input-box button">
                    <input type="submit" name="" [disabled]="forgotpasswordform.invalid" (click)="DisplayAck()" value="Submit">
                </div>
                <div>
                    <p [class]="AckMessage" >
                        The Password reset link has been sent to your registered Email ID. Kindly reset your password and SignIn again by selecting User SignIn/SignUp.
                    </p>
                </div>
            </div>
        </form>
    </div>
</body>
