<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav>
    <ul class="topnav">
        
        <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
        <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
        <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
        <li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>
        <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
        <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li> 
    </ul>
  </nav>


<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Bus List</span>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Travels</th>
            <th scope="col">DepartureTime</th>
            <th scope="col">ArrivalTime</th>
            <th scope="col">Seats</th>
            <th scope="col">Fare</th>
            
            <th scope="col">ActionBook</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
