
<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Login Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav>
    <ul class="topnav">
        
        <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
        <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
        <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
      <!--<li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>-->
      <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
      <li><b> <a href="#MyCoachBookings" [routerLink] = "['/mycoachbookings']" >MyCoachBookings</a></b></li>
        <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li>
    </ul>
  </nav>

  <body>
    <div class="container">
        <form action="#">
            <div class="container my-4">
                <p>Your Balance is <i class='fas fa-wallet'></i><span class="price" style="color:black"> ₹ {{Wallet}}</span></p> 
                </div>
        </form>
    </div>
</body>