<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Login Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav>
  <ul class="topnav">
      
      <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
      <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
      <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
      <!--<li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>-->
      <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
      <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li>
  </ul>
</nav>



  <body>
    <div class="container">
        <form action="#">
          <div class="title">Welcome to Profile</div>
          <div class="input-boxes">
              <div class="input-box">
                  <i class="fas fa-user"></i>
                  <div class="col-sm-5" style="padding-left: 10px;">
                    <p>  First Name</p>
                    </div>
              
              <div class="col-sm-7 text-secondary">
                <input type="text" name="FirstName" placeholder="Enter your name" [(ngModel)]="AuthCustomerObject.FirstName" >
                </div></div>
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <div class="col-sm-5" style="padding-left: 10px;">
                      Last Name
                    </div>
                                          
              <div class="col-sm-7 text-secondary">
                <input type="text" name="LastName" placeholder="Enter your name" [(ngModel)]="AuthCustomerObject.LastName" >
                </div></div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <div class="col-sm-5" style="padding-left: 10px;">
                       Emailid
                    </div>
                              
              <div class="col-sm-7 text-secondary">
                <input type="text" name="LoginId" placeholder="Enter your Emailid" [(ngModel)]="AuthCustomerObject.LoginId" >
                </div></div>
                <div class="input-box">
                  <i class="fas fa-phone"></i>
                  <div class="col-sm-5" style="padding-left: 10px;">
                       Moblie
                    </div>
                              
              <div class="col-sm-7 text-secondary">
                <input type="text" name="ContactNo" placeholder="Enter your Phone Number" [(ngModel)]="AuthCustomerObject.ContactNo" >
                </div></div>
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <div class="col-sm-5" style="padding-left: 10px;">
                       DOB
                    </div>
                              
                <div class="col-sm-7 text-secondary">
                <input type="text" name="Dob"  [(ngModel)]="AuthCustomerObject.Dob" >
                </div></div>
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <div class="col-sm-5" style="padding-left: 10px;" >
                       Gender
                    </div>
                              
                <div class="col-sm-7 text-secondary">
                <input type="text" name="Gender"  [(ngModel)]="AuthCustomerObject.Gender" >
                </div></div>
    <div class="input-box ">
      <i class="fas fa-address-card "></i>
      <div class="col-sm-5" style="padding-left: 10px;" >
        Address
        </div>            
  <div class="col-sm-7 text-secondary">
    <input type="text" name="Address" placeholder="Enter your Address" [(ngModel)]="AuthCustomerObject.Address" >
  </div>  
    </div> 
    </div>   
  </form>
    </div>
</body>
