<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Login Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav>
  <ul class="topnav">
      
      <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
      <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
      <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
      <li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>
      <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
      <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li>
  </ul>
</nav>



  <body>
    <div class="container">
        <form action="#">
            <div class="title">Welcome to Profile</div>
            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-user"></i>
                    <div class="col-sm-3">
                         Name
                      </div>
                
                <div class="col-sm-9 text-secondary">
                    Username
                  </div></div>
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <div class="col-sm-3">
                         Emailid
                      </div>
                                
                <div class="col-sm-9 text-secondary">
                    User@gmail.com
                  </div></div>
                  <div class="input-box">
                    <i class="fas fa-phone"></i>
                    <div class="col-sm-3">
                         Moblie
                      </div>
                                
                <div class="col-sm-9 text-secondary">
                    9876543210
                  </div></div>
                  <div class="input-box ">
                    <i class="fas fa-address-card "style="padding-left:5px"></i>
                    <div class="col-sm-3" >
                         Address
                      </div>            
                <div class="col-sm-9 text-secondary">
                    Rajajinagar Bengaluru
                  </div>
                </div>
              
            </div>
        </form>
    </div>
</body>
