<nav>
    <ul class="topnav">

        <li>
            <h3> Hello Admin! </h3>
        </li>

        <li class="topnav-right"> <a href="#adminlogout">Logout</a> </li>

    </ul>
</nav>


<nav>
    <ul class="topnav">


        <li><b> <a href="#buslist" [routerLink]="['/buslist']"> Bus List </a> </b></li>
        <li><b> <a href="#routeslist" [routerLink]="['/routeslist']"> Routes List </a> </b></li>
        <li><b> <a href="#recordsandprofits" [routerLink]="['/recordsandprofits']"> Records & Profits </a> </b></li>



    </ul>
</nav>