
<nav>
    <ul class="topnav">
        
        <li><b> <a href="#name"> User Name </a> </b></li>
        
        <li class="topnav-right"> <a href="#userlogout" >Logout</a> </li>
        
    </ul>
</nav>

<nav>
    <ul class="topnav">
        
        <li><b> <a href="#Profile"  [routerLink]  = "['/profile']"> Profile </a> </b></li>
        <li><b> <a href="#BookTicket" [routerLink]  = "['/mybooktickets']" > Book Ticket </a> </b></li>
        <li><b> <a href="#Booking"[routerLink]  = "['/mybookings']"> My Bookings </a> </b></li>
        <li><b> <a href="#ChangePassword" [routerLink]  = "['/changepassword']" > Change Password </a> </b></li>
        <li><b> <a href="#BookCoach" [routerLink]  = "['/bookcoach']" > Book Coach </a> </b></li>
        <li><b> <a href="#Wallet"  [routerLink]  = "['/wallet']"> Wallet </a> </b></li>
  
        
        
    </ul>
  </nav>
