
<div class="marquee">
<marquee behavior="scroll" direction="left" scrollamount="5">
 Traveling is always a good idea!    Travel before you run out of time:) 
</marquee>
</div>

<div class="carousel-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
    <h2>Item 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus   accumsan pretium dolor vel convallis. Aliquam erat volutpat. Maecenas lacus nunc, imperdiet sed mi et, finibus suscipit mi.</p>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>
  
  <div class="carousel-item item-2">
    <h2>Item 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>
  
  <div class="carousel-item item-3">
    <h2>Item 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>
</div>

        <p><b><h1 style="text-align: center;" >Don't hesitate to travel... Go and grab your tickets now!!</h1></b></p>
    

<div class="row">
  <div class="column">
    <img src="./assets/Images/hyderabad.jpeg" alt="Nature" style="width:100%">
	<div class="bottom-left"><b>Hyderabad</b></div>
  </div>
  <div class="column">
    <img src="./assets/Images/mumbai.jpeg" alt="Snow" style="width:100%">
	<div class="bottom-left"><b>Mumbai</b></div>
  </div>
  <div class="column">
    <img src="./assets/Images/chennai.jpeg" alt="Mountains" style="width:100%">
	<div class="bottom-left"><b>Chennai</b></div>
  </div>
  <div class="column">
    <img src="./assets/Images/bangalore.jpg" alt="Lights" style="width:100%">
	<div class="bottom-left"><b>Bengaluru</b></div>
  </div>
</div>

