
<div style="background: indigo; 
font-size: 30px; 
padding: 10px; 
padding-left: 30px;
text-align:center;
color:white;
 ">
<marquee behavior="scroll" direction="left" scrollamount="5">
 Travelling is worth more than money will ever be 😄
</marquee>
</div>
<body  >
  <div class='container-fluid' style="background-color: indigo;" >  
    <div class="row" >  
          
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../assets/Images/ww2.jpeg" style="width:100%">  
                  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Images/travel.jpeg" style="width:100%">  
                  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Images/sanitize.png" style="width:100%">  
                  
            </ng-template>    
        </ngb-carousel>  
    </div>  
  
  </div>  
          <p><b><h1 style="text-align: center; color: white; ; background-color: indigo ;" >Grab Your Tickets Now And Embrace Your Journey With WonderWheels!! </h1></b></p>
      
  
  <div class="row" style="padding: 0px;" >
    <div class="column">
      <img src="./assets/Images/hyderabad.jpeg" style="width:100%">
    <div class="bottom-left"><b>Hyderabad</b></div>
    </div>
    <div class="column">
      <img src="./assets/Images/mumbai.jpeg" style="width:100%">
    <div class="bottom-left"><b>Mumbai</b></div>
    </div>
    <div class="column">
      <img src="./assets/Images/chennai.jpeg"  style="width:100%">
    <div class="bottom-left"><b>Chennai</b></div>
    </div>
    <div class="column">
      <img src="./assets/Images/bangalore.jpg" style="width:100%">
    <div class="bottom-left"><b>Bengaluru</b></div>
    </div>
  </div>
  </body>

