
.container {
    position: relative;
    display: none;
  }
  
  
  .bottom-left {
    position: realtive;
    bottom: 8px;
    left: 16px;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  