<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Login Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <form action="#" #adminloginform="ngForm">
            <div class="title">Admin Login</div>
            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="Email" #Email="ngModel" minlength="5" name="Email" placeholder="Enter Your Email" [(ngModel)]="AuthAdminObject.Email"
                        required>
                    <div class="underline"></div>
                </div>
                <div class="form-control-feedback"
              *ngIf="Email.errors && (Email.dirty || Email.touched)">
              <p *ngIf="Email.errors.required" style="color: indigo;" >Email is required</p>
              <p *ngIf="Email.errors.minlength" style="color: indigo;">Email must be atleast 5 characters long</p> 
              </div>
                <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="Password2" #Password2="ngModel" minlength="6" name="Password" placeholder="Enter Your Password"
                        [(ngModel)]="AuthAdminObject.Password" required>
                    <div class="underline"></div>
                    
                </div>
                <div class="form-control-feedback"
              *ngIf="Password2.errors && (Password2.dirty || Password2.touched)">
              <p *ngIf="Password2.errors.required" style="color: indigo;" >Password is required</p>
              <p *ngIf="Password2.errors.minlength" style="color: indigo;">Password must be atleast 6 characters long</p> 
              </div>
                <div class="input-box button">
                    <input type="submit" name="Login" [disabled]="adminloginform.invalid" value="Login" (click)="CheckAdmin()" href="#admindashboard">

                </div>
            </div>
        </form>

    </div>
</body>